:root {
    --background: #444;
    --borderDark: #555;
    --borderLight: #999;
    --selected: #A5A;
    --selectedText: #FFF;
    --text: #CCC;
    --disabled: #666;
}

img,
page,
video {
    filter: brightness(50%);
}